<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Index</title>
</head>

<body style="background-color:#f1f1f1">
  <p>
  <h1 align="centre" style="color: #f1f100f1; font-family:arial; color:darkblue; text-align:center; background-color:powderblue;" width="50" height="600">Top Documents:</h1>
    {% block p %}{% endblock %}
  </p><hr>
 
  <main>
    {% block main %}{% endblock %}
  </main>

  
    

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  {% block script %}{% endblock %}
</body>

</html> -->