{% extends "/templates/index_copy.html" %}


{% block p %}
 <center><img src="{{ url_for('static', filename='img/legal.png') }}" alt="TuringTonks" width="200" height="180" style="margin:1px 0px" ></center>



<div class="container">
  <div class="row">
    <div class="col">
      <h1>
      	<hr>
		
	</p></h1>
	<p>text1 </p>
	<p>text2 </p>
	<p>text3 </p>
	<p>text4 </p>
	<p>text5 </p>
	<p>text6 </p>
	<p>text7 </p>
	<p>text8 </p>
	<p>text9 </p>
	<p>text10 </p>
	<p>text11</p>
	<p>text12</p>
	
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  alert("Search Successful!");
</script>
{% endblock %}